body{
  background-image: url('./assets/Iphone7.jpg')
}

.interface{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 4px;
  margin-top: 4vh;
}

.logoApp{
  background-color: brown; 
  height: 9vh;
  width: 17vw;
  border-radius: 20%;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-bottom: 1vw;
}

.appElements{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 2vw;
}

.Bottom{
  z-index: 0;
  position: fixed;
  transform: translateX(-2.1vw) translateY(1.1vh);;
  background-color: white; 
  height: 14vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.Bottom__app{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-3.2vw)
}